@font-face {
    font-family: BebasNeue;
    src: url(font/BebasNeue.otf);
}


.starter-template {
  padding: 100px 15px;
  text-align: center;
}

.navbar {
  margin-top:37px;
  padding-top: 5px;
  margin-bottom: 0px;
  /*height: 200px;*/
  background: -webkit-linear-gradient(top, rgba(17,32,67,1), rgba(22,41,81,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(17,32,67,1), rgba(22,41,81,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(17,32,67,1), rgba(22,41,81,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(17,32,67,1), rgba(22,41,81,1)); /* Standard syntax (must be last) */
}

.navbar .container {
  padding-left: 280px;
  font-family: BebasNeue;
  font-size: 18px;
}

.container-head{
  margin: auto 0;
  margin-bottom: -25px;
  padding: 0;
}

#logo-wrapper {
  position:relative;
}

#logo {
  position:absolute;
  height:235px;
  width:254px; 
  top:-43px;
  left:-230px;
}

#logo-center {
  position:absolute;
  height:215px;
  width:215px; 
  top:-43px;
  left:-210px;
}

.need-border {
  /*padding-top: 0px;
  border-right: solid white 3px;*/
}

#site-title >p{
    font-size: 14px;
    font-family: "Cambria";
    color: rgb(22, 41, 81);
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    text-align: left;
}

#site-title {
  margin-left: 28%;
}

.navbar-inverse .navbar-nav>li>a{
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #999;
}



/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .navbar .container {
    padding-left: 160px;
    font-family: BebasNeue;
    font-size: 18px;
  }

  #logo {
    display: none;
    position:absolute;
    height:235px;
    width:254px; 
    top:-43px;
    left:-160px;
  }

  #logo-center {
    position:absolute;
    height:150px;
    width:150px; 
    top:-43px;
    left:-140px;
  }

  #site-title {

  }
} 


/* Large devices (semi-large-desktops, 1200px and up) */
@media (max-width: 1000px) {
  .navbar .container {
    padding-left: 0px;
    padding-right: 0px;
    font-family: BebasNeue;
    font-size: 17px;
  }

  #logo {
    display: none;
    position:absolute;
    height:235px;
    width:254px; 
    top:0px;
    left:-160px;
  }

  #logo-center {
    display: none;
    position:absolute;
    height:50px;
    width:50px; 
    top:0px;
    left:-140px;
  }

  #site-title {

  }
} 


/* Large devices (medium desktops, 767px and up) */
@media (max-width: 767px) {
  .navbar .container {
    margin-left: 10px;
    padding-left: 0px;
    font-family: BebasNeue;
    font-size: 18px;
  }

  #logo {
    display: none;
    position:absolute;
    height:235px;
    width:254px; 
    top:-43px;
    left:-190px;
  }

  #logo-center {
    position:absolute;
    height:150px;
    width:150px; 
    top:-43px;
    left:-170px;
  }

  #site-title {
    margin-right: 10px;
    height: 50px;
  }

  #site-title >p{
    margin-left:0px;
    text-align: right;
  }
}


